.video-player {
  height: 190;
  /* height: 380; */
  width: 338;
  background-color: #ade8f4;
  margin-top: 20;
  margin-bottom: 20;
}

.player-controls {
  height: 50;
  width: 95%;
  justify-content: space-between;
  color: white;
  align-items: center;
}

.player-controls-button {
  width: 50;
  height: 30;
  background-color: #0077b6;
  text-align: center;
  border-radius: 5;
}

.sprites-seekbar {
  height: 100;
  width: 95%;
  margin: 10;
  background-color: #caf0f8;
}

.list-wrapper {
  width: 100%;
  min-width: 50;
}

.current-time-marker {
  background-color: #00b4d8;
  width: 2;
  height: 100%;
}

.location-indicator {
  margin: 10;
  height: 50;
  background-color: #48cae4;
}

.current-location {
  height: 40;
  background-color: #023e8a;
}

.location-indicator-labels {
  color: whitesmoke;
  justify-content: space-between;
  padding: 10;
  padding-top: 0;
}
